*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif, Heletica;
    --color-side: #2C3744;
    --color-bg: #F5F6FA;
    --color-card: #818cf8;
    --color-btn: #6366f1;
    --color-text: #929292;
    --hover: #c7d2fe;
    --shadow: 0 2px 6px rgb(0 0 0 / 0.1);
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 160px 5fr;
    width: 100vw;
}

header {
    padding: 10px 30px;
    z-index: 1;
    box-shadow: var(--shadow);
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    width: 35vw;
    height: 25px;
    background-color: rgba(226, 232, 240, 255);
    border: none;
    border-radius: 15px;
}

.search-icon:hover {
    cursor: pointer;
}

.bell {
    transition: all 0.2s ease-in-out;
}

.bell:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.top-user {
    display: flex;
    gap: 30px;
    align-items: center;
}

.top-user p {
    font-weight: bold;
}

.header-top img {
    width: 40px;
    border-radius: 50%;

}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-bottom img {
    width: 65px;
    border-radius: 50%;
}

.bottom-user {
    display: flex;
    gap: 20px;
}

.greeting-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding-right: 10px;
}

.bottom-user .greeting {
    font-size: 0.9em;
}

.bottom-user .username {
    font-size: 1.2em;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn {
    background-color: var(--color-btn);
    color: white;
    font-weight: 500;
    font-size: 1em;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--color-card);
    cursor: pointer;
}

aside {
    background-color: var(--color-side);
    grid-row: 1 / -1;
}

.sidebar-container {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.side-link {
    padding-left: 40px;
    background-color: var(--color-side);
}


aside li {
    list-style: none;
    line-height: 2.8em;
    font-size: 1.2em;
    font-weight: 500;
}

.material-icons-outlined {
    font-size: 28px !important;
}

.material-icons-outlined:hover {
    cursor: pointer;
}

aside a {
    color: white;
    list-style: none;
    text-decoration: none;
}

aside a:hover {
    background-color: #414b57ca;
}

.side-link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.logo span {
    color: white;
    font-weight: 900;
    font-size: 2em;
}

.logo:hover {
    cursor: pointer;
}

svg {
    fill: white;
    width: 50px;
}

header {
    grid-column: 2 / -1;
}

main {
    background-color: var(--color-bg);
    display: grid;
    grid-template-columns: auto-fit 300px;
    gap: 30px;
    padding: 25px 30px;
}

.right {
    grid-column: 2 / 3;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-left: 8px solid var(--color-card);
    box-shadow: var(--shadow);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.announcement-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--shadow);
}

.announcement-heading {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

.announcement-heading:hover {
    color: var(--color-btn);
    cursor: pointer;
}

.announcement-text {
    color: var(--color-text);
    font-size: 12px;
}

.card-text p {
    color: var(--color-text);
}

h4 {
    font-size: 18px;
    padding-bottom: 5px;
}

h4:hover {
    color: var(--color-btn);
    cursor: pointer;
}

hr {
    margin: 15px 0 15px 0;
    border-top: 1px solid rgba(186, 186, 186, 0.495);
}

.trending-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: var(--shadow);
}

.trending-user {
    display: flex;
    gap: 15px;
    align-items: center;
}

.trending-user:hover {
    color: var(--color-btn);
    cursor: pointer;
}

.trending img {
    width: 40px;
    border-radius: 50%;
}

h3 {
    padding: 10px 0;
    font-size: 1.5em;
}

.trending h3 {
    margin-top: 30px;
}

.trending-name {
    font-size: 15px;
    padding-bottom: 5px;
}

.trending-project {
    font-size: 13px;
    color: var(--color-text)
}

@media (max-width: 1100px) {
    main {
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        padding: 15px 20px;
    }

    .project-container {
        gap: 20px;
    }

    .logo span {
        font-size: 1.5em;
    }

    svg {
        width: 40px;
    }

    .sidebar-container {
        gap: 20px;
    }

    aside li {
        line-height: 2.5em;
        font-size: 1em;
        font-weight: 500;
    }
}

@media screen and (max-width: 975px) {

    body {
        grid-template-rows: 135px 5fr;
    }

    .top-user,
    .bottom-user {
        display: none;
    }

    .header-top {
        justify-content: center;
        gap: 20px;
    }

    .search-bar input {
        width: 55vw;
    }

    .header-bottom {
        justify-content: center;
    }

    main {
        background-color: var(--color-bg);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 25px 30px;
    }

    .right {
        max-width: 100%;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

}

@media screen and (max-width: 770px) {
    body {
        grid-template-columns: 70px 1fr;
    }

    .link-text,
    .logo span {
        display: none;
    }

    .logo {

        padding: 14px;
    }


    .side-link {
        padding: 15px;
        justify-content: center;
    }

    svg {
        padding-left: 3px;
    }

    main {
        padding: 10px 30px 30px 20px;
        gap: 10px;
    }

    .trending h3 {
        margin-top: 10px;
    }
}